.PopUpBackground {
    backdrop-filter: blur(10px);

    .PopUpWindow {
        padding: 0px;
        width: 600px;
        min-height: 650px;

        .AuthorInfo {
            .AuthorInfoHeader {
                width: 100%;
                background-color: rgb(211, 207, 207);
                position: relative;
                min-height: 110px;

                .authorInfoTotalPhotos {
                    position: absolute;
                    right: 25px;
                    top: 15px;
                }

                img {
                    height: 70px;
                    border-radius: 50px;
                    position: absolute;
                    left: 15px;
                    top: calc(50% - 35px);
                }

                h5 {
                    position: absolute;
                    top: 0px;
                    left: 120px;
                }

                .AuthorInfoHeaderName {
                    position: absolute;
                    top: 30px;
                    left: 120px;
                }

                .AuthorInfoHeaderLocation {
                    position: absolute;
                    top: 60px;
                    left: 120px;
                }

                .authorLinks {
                    position: absolute;
                    right: 25px;
                    top: 70px;
                    width: 100px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }

            .AuthorInfoMain {
                padding-left: 15px;

                .AuthorInfoMainBio {
                    width: 550px;
                }

                .PhotoImageContainer {
                    position: relative;

                    .PhotoImage {
                        position: absolute;
                        width: 550px;
                    }

                    .ClickToFull {
                        position: absolute;
                        top: 150px;
                        left: calc(50% - 100px);
                        z-index: 2323;
                        color: rgb(210, 180, 180);
                        display: none;
                        width: 200px;
                    }
                }

                .PhotoImageContainer:hover {
                    position: relative;

                    .PhotoImage {
                        filter: brightness(70%);
                    }

                    .ClickToFull {
                        display: block;
                    }
                }
            }
        }
    }
}
