.MenuIcon {
    color: black;
}

.MenuIcon-dark {
    color: #808080;
}

.sideBar-dark {
    background-color: #20232a;
    height: 800px;

    .link-dark {
        color: #808080;
        text-decoration: none;
    }
}

.sideBar {
    height: 800px;
}
