.masonry-grid {
    display: flex;
    margin-left: -16px; /* Замените на отступ, используемый для вашего контейнера */
    width: auto;
}

.masonry-grid-column {
    padding-left: 16px; /* Замените на отступ, используемый для вашего контейнера */
    background-clip: padding-box;
}

.masonry-grid-item {
    margin-bottom: 16px; /* Регулируйте отступ между элементами */
    break-inside: avoid; /* Предотвращает разрыв элементов между колонками */
}

.loadMoreButton {
    margin-bottom: 15px;
    margin-left: calc(50% - 90px);
    border-radius: 15px;
    background-color: black;
    color: white;
    width: 180px;
    height: 40px;
    cursor: pointer;
    font-size: 16px;
}
