.mobilesTitle,
.favoritesTitle {
    margin: 0;
    padding: 15px 0;
    font-size: 24px;
    text-align: center;
}

.mobilesTitle-dark,
.favoritesTitle-dark {
    margin: 0;
    padding: 15px 0;
    font-size: 24px;
    color: #808080;
    text-align: center;
}
