.mobilesTitle,
.favoritesTitle {
    text-align: center;
    margin: 0px;
    padding: 20px 0px;
}

.mobilesTitle-dark,
.favoritesTitle-dark {
    text-align: center;
    margin: 0px;
    padding: 20px 0px;
    color: #808080;
}
