.custom-loader-container-dark {
    background-color: hsl(222, 14%, 10%);
    width: 100%;
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;

    .custom-loader {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: radial-gradient(farthest-side, #808080 94%, #0000) top/16px
                16px no-repeat,
            conic-gradient(#0000 30%, #808080);
        mask: radial-gradient(farthest-side, #0000 calc(100% - 16px), #000 0);
        animation: s3 1s infinite linear;
    }

    @keyframes s3 {
        100% {
            transform: rotate(1turn);
        }
    }
}

.custom-loader-container {
    background-color: white;
    width: 100%;
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;

    .custom-loader {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: radial-gradient(farthest-side, #808080 94%, #0000) top/16px
                16px no-repeat,
            conic-gradient(#0000 30%, #808080);
        mask: radial-gradient(farthest-side, #0000 calc(100% - 16px), #000 0);
        animation: s3 1s infinite linear;
    }

    @keyframes s3 {
        100% {
            transform: rotate(1turn);
        }
    }
}
